<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CyanThirdMacApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B683FFDE1D17FC6E00269AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B683FFF11D17FC6E00269AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B683FFFC1D17FC6E00269AF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
